header {
  height: 150px;
  background: var(--clr-primary) url("./assets/bg-header-mobile.svg") no-repeat;
  margin-bottom: 3rem;
  background-size: cover;
}

.listings-wrapper {

  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;

  width: min(80%, 25rem);
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  header {
    background: var(--clr-primary) url("./assets/bg-header-desktop.svg") no-repeat;
    background-size: cover;
  }

  .listings-wrapper {
    width: min(80%, 75rem);
  }
}