article {

  --padding: 1.5rem;

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: var(--padding);
  background-color: white;
  position: relative;
  border-radius: 8px;


  &.featured {
    border-left: 5px solid var(--clr-primary);
  }

  img {
    width: 60px;
    position: absolute;
    top: calc(var(--padding) * -1);
  }

  .company-wrapper {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
  }

  h1 {
    color: var(--clr-primary);
  }

  .pills {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
  }

  .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .position {
    color: black;
    font-weight: var(--fw-bold);
    font-size: 1.2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    transition: color 300ms;

    cursor: pointer;

    &:hover {
      color: var(--clr-primary);
    }
  }

  .list-items {
    display: flex;
    gap: 0.5rem;
    color: var(--clr-secondary);
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--clr-secondary);
    margin-bottom: 0.75rem;

    .bullet::after {
      content: ' \2022';
    }
  }
}

@media screen and (min-width: 700px) {
  article {

    display: grid;
    grid-template-columns: fit-content(30%) 2fr 2fr;
    align-items: center;
    gap: 1rem;

    padding: 1rem 2rem;

    img {
      position: relative;
      width: 80px;
      top: unset;
    }

    .list-items {
      border-bottom: 0;
    }

    .tags {
      flex-direction: row-reverse;
    }

    .position {
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
    }
  }
}