.tags > span {
  color: var(--clr-primary);
  font-weight: var(--fw-bold);
  background-color: var(--clr-background);
  border-radius: 2px;
  padding: 0.25rem 0.5rem;
  transition: background-color 300ms, color 300ms;

  &:hover {
    cursor: pointer;
    color: white;
    background-color: var(--clr-primary);
  }
}

.pills > span {
  color: white;
  background-color: var(--clr-primary);
  font-weight: var(--fw-bold);
  padding: 0.25rem 0.75rem;
  border-radius: 16px;
  text-transform: uppercase;
}

.pills > span.feature {
  background-color: var(--clr-primary-dark);
}